<p>dogfinder works!</p>
<mat-toolbar color="primary">
  <span>Dog Finder</span>
  <span class="spacer"></span>
  <button (click)="search('')">pets</button>
</mat-toolbar>

<mat-form-field>
  <input matInput type="text" [(ngModel)]="searchText" placeholder="Search for a dog breed">
</mat-form-field>

<!-- <div *ngIf="searchText">
  <h2>Search Results for "{{searchText}}"</h2>
  <ul>
    <li *ngFor="let breed of search(searchText)">
      {{ breed.name }} 
      <img src="{{breed.image_link}}" alt="breed image">
    </li>
  </ul>
</div> -->
<div *ngIf="searchText">
  <h2>Search Results for "{{searchText}}"</h2>
  <ul>
    <li *ngFor="let breed of search(searchText)">
    <button [routerLink]="['/dogdetails', breed.index]"> 
        <mat-card>
            <mat-card-title-group>
                <img mat-card-xl-image src="{{breed.image}}"/>
                    <mat-card-subtitle>{{breed.name}}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
      </button>    
      </li>
  </ul>
</div>
