<div class="background-image" style="background-size: cover; height: 93.6%;">
<div class="home" >
    <div class="home-container">
        <h1>Beauty & Beasts-</h1>
        <h2>Where beauty meets beastly good skincare.</h2>
        <p>Not all dogs are created equal for your skin. Let us help you find the breed that perfectly complements your beauty routine and enhances your wellness journey, ensuring you and your furry friend live happily and healthily together.</p>
        <button mat-raised-button>
            <a routerLink="/about" routerLinkActive="active">Learn More</a>
          </button>
    </div>

    <!-- <div class="home-image">
        <img src="https://media.istockphoto.com/id/2151706390/photo/woman-taking-selfie-with-adorable-shiba-inu-dog.jpg?s=2048x2048&w=is&k=20&c=uCn2XCaHSw_CZJX6H0zre7WUj0H6FPw0zWe0EwkpfGw=" height="400" width="300" />
    </div> -->
</div>
</div>