<div class="matcher-page">
    <div>
  <div class="matcher-intro">
    <div class="matcher-intro-info">
    <h1 class="matcher-heading">
     Dreaming of a furry friend to help your skin glow?
    </h1>
    <p class="matcher-leading-paragraph">Beauty & Beasts believes your
        perfect skincare companion might be wagging its tail! Our unique app
        matches your skin type to the ideal dog breed, providing tailored care
        advice for both you and your furry friend.</p>
        <p class="matcher-instructions">
        <strong>First, identify Your Skin Type:</strong> Select the option that best describes your skin from the choices below. <strong>Then, find your Perfect Match:</strong>  Once you’ve chosen your skin type, click the "Find My Dog Match" button. <strong>Lastly, explore your Dog Profile:</strong> Discover the dog breed that best complements your skin!
        </p>
    </div>
        <div>
            <img src="../../../assets/matcher-home-logo.png">
        </div>
    </div>
    <p class="matcher-quiz-intro">
      Ready to embark on this paw-some journey? Let's find your perfect furry
      match!
    </p>
  <div class="matcher-quiz-container">
    <div class="matcher-selections-container">
      <button mat-raised-button (click)="onSkinTypeSelected('combination')">Combination Skin</button>
      <button mat-raised-button (click)="onSkinTypeSelected('dry')">Dry Skin</button>
      <button mat-raised-button (click)="onSkinTypeSelected('normal')">Normal Skin</button>
      <button mat-raised-button (click)="onSkinTypeSelected('oily')">Oily Skin</button>
      <button mat-raised-button (click)="onSkinTypeSelected('sensitive')">Sensitive Skin</button>
    </div>
    <div class="skin-type-info">
        <div>
      <img
        id="skin-type-image"
        [src]="
          selectedSkinType ? skinTypeImages[selectedSkinType] : defaultImage
        "
        alt="default skincare image"
      />
</div>
      <div>
        <p id="skin-type-description">
          {{ skinTypeDescriptions[selectedSkinType] }}
        </p>
        
      </div>
    </div>
  </div>
   <div class="matcher-router-button">
  <button mat-raised-button [disabled]="!selectedSkinType" >
    Find My Dog Match
  </button> </div>
</div>
</div>
