<style>
  @import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
  </style>


<mat-toolbar tag="mat-toolbar-top-level">
  <div class="mat-toolbar">
    <h1><a routerLink="/" routerLinkActive="active">Beauty & Beasts</a></h1>
    <div class="mat-toolbar-destinations-wrapper">
      <ul class="mat-toolbar-destinations">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/matcher" routerLinkActive="active">Matcher</a></li>
        <li><a routerLink="/dogfinder" routerLinkActive="active">Dog Finder</a></li>
      </ul>
    </div>
    <div class="mat-toolbar-spacer-right"></div>
  </div>
</mat-toolbar>

  <router-outlet></router-outlet>

