<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar>
  <h1>Beauty n Beasts</h1>
  <div>
      <h2 routerLink="/" routerLinkActive="active">Home</h2>
      <h2 routerLink="/about" routerLinkActive="active">About</h2>
      <h2 routerLink="/matcher" routerLinkActive="active">Matcher</h2>
      <h2 routerLink="/dogfinder" routerLinkActive="active">Dog Finder</h2>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

