<div class="dog-container">
    <div class="dog-title">
        <h1>{{dog.name}}</h1>
    </div>
    <div class="dog-profile">
        <div class="dog-card-container">
            <mat-card class="dog-card">
                        <mat-card-title>About the Breed</mat-card-title>
                <img mat-card-image src="{{dog.image_link}}"/>
                    <mat-card-title-group>
                        <mat-card-subtitle>
                            {{ dog | dogAge }}
                            {{ dog | dogHeight }}
                        </mat-card-subtitle>
                    </mat-card-title-group>
            </mat-card>
        </div>
        <div class="dog-stats">
            <mat-card class="stat-card">
                <mat-card-title>Breed Traits & Characteristics</mat-card-title>
                <mat-card-header>Barking</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.barking)}}"></mat-progress-bar>
                <mat-card-header>Coat Length</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.coat_length)}}"></mat-progress-bar>
                <mat-card-header>Drooling</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.drooling)}}"></mat-progress-bar>
                <mat-card-header>Energy</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.energy)}}"></mat-progress-bar>
                <mat-card-header>Grooming</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.grooming)}}"></mat-progress-bar>
                <mat-card-header>Playfulness</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.playfulness)}}"></mat-progress-bar>
                <mat-card-header>Protectiveness</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.protectiveness)}}"></mat-progress-bar>
                <mat-card-header>Good with children</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.good_with_children)}}"></mat-progress-bar>
                <mat-card-header>Good with other dogs</mat-card-header>
                    <mat-progress-bar mode="determinate" value="{{getStat(dog.good_with_other_dogs)}}"></mat-progress-bar>
            </mat-card>
        </div>
    </div>
</div>